<div class='box'>
  <h1>File Ready</h1>
  <p>
    {{fileName}} rendered using
    {{#if fileLayout}}
      {{fileLayout}}
    {{/if}}
  </p>

  <a href='download/tmpFile' class='button ready'>Download Now</a>
</div>