<div class='box'>
  <h2>Magic is Happening</h2>
  
  <p>
    {{fileName}} is rendering using
    {{#if fileLayout}}
      {{fileLayout}}
    {{/if}}
    template
  </p>

  <a href='download/tmpFile' class='button ready'>Download Now</a>
</div>