<div class='box'>
  <form action='convert' method='post'>
    <img src='/images/pulpr-purple.png' class='logo'>
    <label for='content'>Turn your text files into PDFs</label>
    <textarea id='content' name='content' class='hidden'></textarea>
    <input type='hidden' name='fileName' id='fileName' />
    <div id='drop-zone-wrap'>
      <div id="drop_zone">
        Drop your file here
        <div class='small'>markdown, txt or html</div>
      </div>
    </div>
    <div class='arrow-box'>
      <div class='arrow'></div>
    </div>
    <a id='test-file' href='http://cl.ly/0y0S2w2t2809/download/readme.md' target='blank'>or test with this .md file</a>
    <input id='submit' type='submit' />
  </form>
</div>
<div class='info-box'>
  <h3>Customize your docs <span style='font-weight: normal;'>(optional)</span></h3>
  <p>By default your file will run through a simple stylesheet, but you can try out other styles for your content by specifying a layout at the top of your file. </p>
  <p>Just leave a comment like this:</p>

  <pre>
    &lt;!--
      layout: crimson
    --&gt;
  </pre>

  <strong>Layouts:</strong>
  <dl>
    <dt>crimson [default]</dt>
    <dd>A barebones styles based around Crimson Text font</dd>
    <dt>skeleton</dt>
    <dd>A barebones styles based around Raleway font</dd>
    <dt>none</dt>
    <dd>Renders only your content as a PDF</dd>
  </dl>

  <p>Customize More (coming soon)</p>
</div>
<footer>
  <small>
    a project by <a href='http://www.tylerjameslee.com'>Tyler</a>
  </small>
</footer>


<script>
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var file = evt.dataTransfer.files[0]; // FileList object.
    var reader = new FileReader();

    reader.onloadend = function(evt) {
      if (evt.target.readyState == FileReader.DONE) { // DONE == 2
        document.getElementById('drop-zone-wrap').className = 'loaded';
        document.getElementById('drop_zone').innerHTML = file.name;
        document.getElementById('fileName').value = file.name.replace(/\.[^/.]+$/, "");
        document.getElementById('content').value = evt.target.result;
        document.getElementById('submit').className = 'ready';
        document.getElementById('test-file').className='hide';
      }
    };

    reader.readAsText(file);
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  // Setup the dnd listeners.
  var dropZone = document.body;
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);
</script>
