* {
  box-sizing: border-box; }

body {
  background: #424b8d;
  background-image: url('/images/repeat-bg.png');
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  line-height: 150%;
  padding: 2%;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin-top: 0; }

h1 {
  color: #424b8d;
  font-size: 45px; }

label, textarea {
  width: 100%; }

textarea {
  border: 1px solid #ccc;
  color: #333;
  font-size: 15px;
  margin: 20px 0;
  min-height: 200px;
  padding: 20px; }

.box {
  margin: 0 auto;
  max-width: 400px;
  padding: 40px;
  width: 100%;
  background: white;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #999;
  font-size: 18px;
  margin-top: 50px;
  text-align: center; }

.info-box {
  margin: 0 auto;
  max-width: 400px;
  padding: 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid #dedede;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: rgba(255, 255, 255, 0.8); }
  .info-box h1, .info-box h2, .info-box h3 {
    box-shadow: 0px 1px 0px transparent;
    color: white; }
  .info-box a {
    border-bottom: 1px dotted white;
    color: white;
    text-decoration: none; }

label {
  display: block;
  margin-bottom: 20px; }

.hidden {
  display: none; }

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

#drop-zone-wrap {
  background: #FF6C4F;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  padding: 5px; }
  #drop-zone-wrap:hover {
    background: #5F6CC7; }
  #drop-zone-wrap.loaded {
    background: #5F6CC7; }
  #drop-zone-wrap.loaded #drop_zone {
    background: #5F6CC7;
    border: 3px dotted rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    padding-top: 24px; }

#drop_zone {
  background: #FF6C4F;
  border: 3px dotted rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  height: 88px;
  line-height: 150%;
  padding: 15px 11px;
  text-align: center;
  width: 100%; }
  #drop_zone .small {
    font-size: 14px;
    opacity: .8; }
  #drop_zone:hover {
    background: #5F6CC7;
    border: 3px dotted rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    cursor: cell; }
  #drop_zone .file-name {
    display: block;
    margin-top: 10px; }

input[type='submit'], .button {
  background: white;
  border: 3px solid #f4f4f4;
  border-radius: 5;
  color: #ccc;
  display: block;
  font-size: 18px;
  height: 50px;
  line-height: 40px;
  margin: 0 auto 20px auto;
  width: 300px; }
  input[type='submit'].ready, .button.ready {
    background: #FF6C4F;
    border: 3px solid #FF6C4F;
    color: white; }
    input[type='submit'].ready:hover, .button.ready:hover {
      background: #AF6C8B;
      border: 3px solid #FF6C4F;
      color: white; }

.loader {
  fill: white; }

a.button {
  background: #FF6C4F;
  border: 3px solid #AF6C8B;
  color: white !important;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 0;
  text-decoration: none; }
  a.button:hover {
    background: #AF6C8B;
    border: 3px solid #FF6C4F; }
  a.button.download-button {
    padding-top: 5px; }

dl dt {
  font-weight: bold; }

.logo {
  margin-bottom: 15px;
  max-width: 150px; }

.logo-download {
  display: block;
  margin: 30px auto 40px auto;
  max-width: 200px; }

footer {
  color: white;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  opacity: .5;
  padding: 20px;
  text-align: center; }
  footer:hover {
    opacity: 1; }
  footer a {
    border-bottom: 1px dotted white;
    color: white;
    text-decoration: none; }
