body {
  color: #6c6c6c;
  font-family: 'gotham', 'helvetica neue', arial, sans-serif;
  font-size: 10pt;
  line-height: 140%; }

h1 {
  color: #2f2f2f;
  font-size: 22pt;
  font-weight: 300;
  line-height: 150%; }

h2 {
  color: #2f2f2f;
  font-size: 14pt;
  font-weight: 300;
  line-height: 150%; }

h3 {
  color: #2f2f2f;
  font-size: 10pt;
  font-weight: bold; }

img {
  max-width: 100%; }

ul li, ol li {
  margin-bottom: 5pt; }
ul ul, ul ol, ol ul, ol ol {
  padding-top: 5pt; }

.header {
  border-bottom: 1px dashed #ccc;
  overflow: hidden;
  padding: 15pt 0; }
  .header h1 {
    margin: 0;
    padding: 0; }
  .header .logo {
    float: right;
    position: absolute;
    right: 0;
    top: 17pt;
    width: 20%; }

.content {
  padding: 15pt 0; }

.footer {
  border-top: 1px dashed #ccc;
  font-size: 8pt;
  overflow: hidden;
  margin-top: 10pt;
  padding: 15pt 0; }
  .footer .logo {
    float: right;
    top: 17pt;
    width: 20%; }
